.center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  object-fit:cover;
}

.center {
  margin: auto;
  width: 100%;
}

.wrapper {
  display:grid;
  grid-template-columns:auto auto auto;
  gap:2rem;
  justify-content:center;
}

.card {
  overflow:hidden;
  box-shadow:0 2px 10px #C774E8;
  /* border-radius:$radius; */
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.card-title {
  padding:0;
  font-weight:bold;
  text-decoration:underline;
  /* text-align:center; */
}

.card-description {
  padding:0;
}

.aesthetic-bg-gradient {
  background: linear-gradient(to bottom right, #C774E8, #94D0FF);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aesthetic-windows-95-container, .aesthetic-windows-95-modal {
  border: 1px solid;
  box-shadow: 1px 1px 0 0 #000;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  display: block;
  background-color: #BFBFBF;
  padding: 4px; }

.aesthetic-windows-95-boot-loader {
  width: 100%;
  height: 20px;
  background-color: #BFBFBF;
  overflow: hidden;
  font-size: 0; }

.aesthetic-windows-95-boot-loader > * {
  width: 75%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(to right, #BFBFBF 0%, #000084 15%, #000084 85%, #BFBFBF 100%);
  display: inline-block;
  margin-right: 1px;
  animation: aesthetic-windows-95-boot-infinite-loader 4.5s infinite;
  animation-timing-function: linear; }

@keyframes aesthetic-windows-95-boot-infinite-loader {
  0% {
    transform: translate(-220%); }
  100% {
    transform: translate(160%); } }

.aesthetic-windows-95-button, .aesthetic-windows-95-button-title-bar, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start {
  border: 1px solid;
  border-top-color: #DFDFDF;
  border-left-color: #DFDFDF;
  border-bottom-color: #808080;
  border-right-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  color: #000;
  background-color: #BFBFBF;
  text-align: center;
  width: 110px;
  white-space:nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px; }
  .aesthetic-windows-95-button button, .aesthetic-windows-95-button-title-bar button, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 2px;
    width: 100%; }
    .aesthetic-windows-95-button button:focus, .aesthetic-windows-95-button-title-bar button:focus, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start button:focus {
      outline: 1px dashed #000; }
  .aesthetic-windows-95-button:active, .aesthetic-windows-95-button-title-bar:active, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start:active {
    transform: translateY(1px);
    box-shadow: 1px 1px #000; }
  .aesthetic-windows-95-button:focus, .aesthetic-windows-95-button-title-bar:focus, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start:focus {
    outline: none; }

.aesthetic-windows-95-button-title-bar {
  width: 16px;
  height: 16px;
  font-size: 1.0rem;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: sans-serif;
  font-weight: normal; }
  .aesthetic-windows-95-button-title-bar button {
    padding: 1px; }

.aesthetic-windows-95-text-input {
  border: 1px solid;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF; }
  .aesthetic-windows-95-text-input:focus {
    outline: 1px dashed #000; }

.aesthetic-windows-95-modal .aesthetic-windows-95-modal-title-bar {
  border: 1px solid;
  box-shadow: 1px 1px 0 0 #000;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  text-align: left;
  background: #000084;
  outline: 0;
  padding-left: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .aesthetic-windows-95-modal .aesthetic-windows-95-modal-title-bar .aesthetic-windows-95-modal-title-bar-text {
    color: #FFF; }
  .aesthetic-windows-95-modal .aesthetic-windows-95-modal-title-bar .aesthetic-windows-95-modal-title-bar-controls {
    margin-left: auto; }

.aesthetic-font {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter; }
  .aesthetic-font h1, .aesthetic-font h2, .aesthetic-font h3, .aesthetic-font h4, .aesthetic-font h5, .aesthetic-font h6 {
    font-weight: lighter; }